body{
    margin: 1;
    background-color: ivory;
    padding: 0;
}

#scene{
    position: relative;
    height: 95vh;
    padding: 0;
}

.canvas{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border: 1px black solid;
    cursor: none;
}
